lambda arguments : expression 
lambda a,b,c,d,e :  a+b+c+d

In [45]:
def add(a,b):
    return a+b

In [46]:
add(78,89)

167

In [3]:
x=lambda a,b:a+b

In [4]:
print(x(45,56))

101

In [5]:
z=lambda x,y:x*y

In [6]:
z(45,45)

2025

Buit -in function in python 

A 

abs()
all()
any()

B
bin()
bool
bytes
bytearray()
C
callable()
compile()
complex()

D
dir()
dict()
delattr()

E
eval
exec

f
float()
filter()
format()

In [7]:
abs(-45.25)

45.25

In [10]:
x={78:89,56:45}
all(x)

True

In [9]:
all(45)

TypeError: 'int' object is not iterable

In [11]:
any(x)

True

In [12]:
x.clear()
print(any(x))

False

In [13]:
x

{}

In [14]:
x=[45,56]
any(x)

True

In [17]:
x.clear()
print(x)
print(any(x))

[]
False

In [18]:
x=45
print(bin(x))

0b101101

In [19]:
a=True
type(a)

bool

In [20]:
bool(45)

True

In [21]:
bytearray(4)

bytearray(b'\x00\x00\x00\x00')

In [22]:
a=45
callable(a)

False

In [23]:
def add():
    return "add"

In [24]:
callable(add)

True

In [25]:
complex(45)

(45+0j)

In [26]:
complex(45,5)

(45+5j)

In [33]:
'4+5'

'4+5'

In [34]:
eval('4+5')

9

In [37]:
x=compile('print("hello fnction")','te','eval')
exec(x)

hello fnction

In [41]:
chr(5)

'\x05'

In [43]:
eval('print("hello")')

hello

In [44]:
add()

'add'

In [47]:
eval('add(4,5)')

9

In [48]:
a=45
exec('print(a+45)')

90

In [49]:
a=[45,56.89,788,89]

In [50]:
exec('for i in range(5): print("hello")')

hello
hello
hello
hello
hello

In [51]:
eval('for i in range(5): print("hello")')

SyntaxError: invalid syntax (<string>, line 1)

In [52]:
eval('a=45')

SyntaxError: invalid syntax (<string>, line 1)

In [53]:
exec('a=45')
print(a)

45

In [54]:
eval('add(4,5)')

9

In [55]:
a=90

In [56]:
print(type(a))

<class 'int'>

In [57]:
b=float(a)
print(type(b))

<class 'float'>

In [58]:
a=[78,56,89,56,25,68,456]

In [60]:
x=filter(lambda x:x%2==0,a)
list(x)

[78, 56, 56, 68, 456]

In [63]:
def even_fun(a):
    if a % 2 == 0:
        return True
    else:
        return False
x = filter(even_fun,a)
list(x)

[78, 56, 56, 68, 456]

In [64]:
import pandas as pd
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)
        # GH 27101

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '2cb96529396d93b46abab7bbc73a208e708c642e'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.2.4

FILE
    c:\users\aspdi\anaconda3\lib\site-packages\pandas\__init__.py

In [65]:
hex(45)

'0x2d'

In [66]:
a=78
id(a)

140725579296976

In [68]:
input("enter value")

enter value45

'45'

In [69]:
b=int('45')

In [71]:
type(b)

int

In [72]:
d=[78.8,89,56,26,258,456,9]

In [73]:
len(d)

7

In [74]:
d

[78.8, 89, 56, 26, 258, 456, 9]

In [75]:
list(map(lambda x:x**2,d))

[6209.44, 7921, 3136, 676, 66564, 207936, 81]

In [76]:
max(d)

456

In [77]:
min(d)

9

In [78]:
sum(d)

972.8

In [79]:
pow(2,3)

8

In [80]:
pow(9,2)

81

In [82]:
#range(start:end:increment)
list(range(5,20,1))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [83]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [84]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [85]:
round(2.25566588,2)

2.26

In [87]:
a=89
str(a)

'89'

In [88]:
b=[78,89,56,25,65,45,898]
x=sorted(b)

In [89]:
x

[25, 45, 56, 65, 78, 89, 898]

In [90]:
class A:
    def __init__(self,a):
        self.a=a
    def printname(self):
        return self.a
class b(A):
    def __init__(self,a,b):
        super().__init__(a)
        self.b=b

In [91]:
obj=b("hey","python")

In [92]:
obj.printname()

'hey'

In [93]:
a=45

In [94]:
type(a)

int

In [99]:
a=(782,25,78459,45)
b=('cc','age','salary')
x=zip(b,a)

In [100]:
list(x)

[('cc', 782), ('age', 25), ('salary', 78459)]

In [ ]:
open

In [101]:
data=("harsh",785,25,2565.25)

In [104]:
x=slice(0,4,2)
print(data[x])

('harsh', 25)

In [105]:
a=[1,2,3,4,5,6,7,8,9,10]

In [107]:
data=map(lambda x:x*2,filter(lambda x:x%2==0,a))
list(data)

[4, 8, 12, 16, 20]

In [133]:
import pandas as pd
data=pd.read_csv("E:\\DataScience-data\\Bank_churn_modelling - Copy.csv")

In [134]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [131]:
def upper(a):
    a=a.upper()
    return a

In [132]:
upper("data")

'DATA'

In [120]:
a='data'

In [122]:
a.upper()

'DATA'

In [135]:
data['Gender']=data['Gender'].apply(upper)

In [136]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,FEMALE,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,FEMALE,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,FEMALE,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,FEMALE,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,FEMALE,43,2,125510.82,1,1,1,79084.10,0

In [137]:
data['Gender']=data['Gender'].apply(lambda x:x.lower())

In [138]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,female,43,2,125510.82,1,1,1,79084.10,0

In [146]:
x=lambda a,b:a*b

In [147]:
print(x(45,45))

2025

In [148]:
#modules 

import os

In [149]:
os.getcwd()

'E:\\fujitsu-python'

In [19]:
%%writefile my_module.py

""" python modules """
new=455
def add(a,b):
    """ this program adds two number and return the final result"""
    result =a+b
    return result

def multiply(a,b):
    """ this program multiply two number and return the final result"""
    result =a*b
    return result

Overwriting my_module.py

In [2]:
import my_module

In [20]:
import my_module as mm

In [4]:
mm.add(45,45)

90

In [5]:
from my_module import add

In [6]:
add(45,56)

101

In [7]:
from my_module import *

In [8]:
multiply(45,56)

2520

In [9]:
print(new)

455

In [13]:
import pandas as pd

In [14]:
pd.__version__

'1.2.4'

In [15]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\aspdi\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\aspdi\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\aspdi\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\aspdi\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\aspdi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [16]:
dir(mm)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'multiply',
 'new']

In [21]:
print(mm.__name__)

my_module

In [22]:
print(mm.__doc__)

None

In [23]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [25]:
data=[78,45,45,'data','new',True,4525.25]

In [26]:
out=[]
for i in range(len(data)):
    out.append(data[6-i])
print(out)

[4525.25, True, 'new', 'data', 45, 45, 78]

In [27]:
[data[6-i] for i in range(len(data))]

[4525.25, True, 'new', 'data', 45, 45, 78]

In [35]:

data=[4525.25,True,'new','data',45,45,78]

In [38]:
out=[]
mv=data[0]
for i in data:
    if str(i).isalpha():
        pass
    else:
        if i<mv:
            mv=i
    out.append(mv)
    data.remove(i)

In [39]:
out

[4525.25, 4525.25, 45, 45]

In [49]:
a=[78,562.78,25,-78]
out=[]
while a:
    mv=a[0]
    for  i in a:
        if i<mv:
            mv=i
    out.append(mv)
    a.remove(mv)

In [50]:
out

[-78, 25, 78, 562.78]

In [60]:
data=[4525.25,True,'new','data',45,45,78]
while data:
    out=[]
    mv=data[0]
    for i in data:
        if str(i).isalpha():
            pass
        else:
            if i<mv:
                mv=i
            out.append(mv)
    data.remove(mv)

In [62]:
a=78
b=89.25

In [64]:
b<a

False

#exception handling in python 

try:
    
except:

else:

finally:

In [66]:
a=int(input("enter a value"))
b=int(input("enter b value"))
print(a/b)
print("done")

enter a value45
enter b value0

ZeroDivisionError: division by zero

In [67]:
addition(45,56)

NameError: name 'addition' is not defined

In [68]:
a=[78,56,89,56]
print(a[0])
print(a[50])
print(a[3])

78

IndexError: list index out of range

In [70]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    print(a/b)
except:
    print("some exception")

enter a value45
enter b value0
some exception

In [71]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    c=a/b
except:
    print("some exception")

enter a value45
enter b value0
some exception

In [73]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    c=a/b
except:
    print("some exception")
else:
    print(c)
    print("no exception")

enter a value45
enter b value5
9.0
no exception

In [75]:
a=int(input("enter a value"))
b=int(input("enter b value"))
try:
    c=a/b
except:
    print("some exception")
else:
    print(c)
    print("no exception")
finally:
    d=a*b
    print("result: ",d)

enter a value45
enter b value5
9.0
no exception
result:  225

In [78]:
a=int(input("enter a value"))
b=int(input("enter b value"))
if a<b:
    print(a*b)
else:
    raise Exception("some exception")

enter a value45
enter b value5

Exception: some exception

In [ ]:
#list comprehension in python

In [ ]:
[Expresion for item in iterable]

In [84]:
a=[78,45,56,25,48,8995,65,20,2]

In [85]:
out=[]
for i in a:
    if i%2==0:
        out.append(i)
print(out)

[78, 56, 48, 20, 2]

In [87]:
[i for i in a if i%2==0]

[78, 56, 48, 20, 2]

In [88]:
a=[5,2,6,8,9,7]

In [90]:
[i**2 for i in a]

[25, 4, 36, 64, 81, 49]

In [93]:
def add(a):
    return a+56

In [94]:
[add(i) for i in a]

[61, 58, 62, 64, 65, 63]

In [95]:
a

[5, 2, 6, 8, 9, 7]

In [97]:
x=lambda a:a**2
[x(i) for i in a]

[25, 4, 36, 64, 81, 49]

In [99]:
a=[5,2,6,8,9,7]
[x(i) for i in a if i%2==0]

[4, 36, 64]

In [100]:
import os

In [101]:
os.getcwd()

'E:\\fujitsu-python'

In [102]:
os.mkdir('E:\\fujitsu-python\\python')

In [103]:
os.getcwd()

'E:\\fujitsu-python'

In [104]:
os.chdir('E:\\fujitsu-python\\python')

In [105]:
os.getcwd()

'E:\\fujitsu-python\\python'

In [107]:
%%writefile test.py

"""python finction simple test"""
def add(a,b):
    return a+b

Writing test.py

In [108]:
os.remove('test.py')

In [109]:
ls

 Volume in drive E is Data Science
 Volume Serial Number is D420-695E

 Directory of E:\fujitsu-python\python

06-07-2022  00:59    <DIR>          .
06-07-2022  00:58    <DIR>          ..
               0 File(s)              0 bytes
               2 Dir(s)  237,730,963,456 bytes free

os.getcwd()
os.mkdir()
os.chdir()
os.remove()

In [110]:
import random

In [112]:
random.randint(20,60)

45

In [113]:
list=[78,89.5,'data','new',45,True]

In [117]:
random.choice(list)

'new'

In [118]:
#Decorators in python

In [119]:
def outer_function():
    def inner_function():
        print("i came from inner function")
    return inner_function()

In [120]:
outer_function()

i came from inner function

In [124]:
def main_finction(func):
    func()
    print("main function")

In [125]:
def action():
    print("new function")

In [126]:
main_finction(action)

new function
main function

In [127]:
def multi(x):
    return x*3.14
def divide(x):
    return x/3.14
def operate(fun,x):
    number=fun(x)
    return number

In [128]:
operate(multi,45)

141.3

In [129]:
operate(divide,35)

11.146496815286623

In [145]:
def outer_function(fun):
    def inner(a,b):
        if a<b:
            a=a+5
            b=b+2
        return fun(a,b)
    return inner

In [146]:

def add(a,b):
    return a+b

In [147]:
add(45,56)

101

In [148]:
add(45,56)

101

In [149]:
add(5,3)

8

In [150]:
add(3,5)

8

In [167]:
result=outer_function(add)
print(result(18,56))

88

In [155]:
@outer_function
def add(a,b):
    return a+b

In [156]:
add(455,56)

511

In [157]:
add(4,5)

16

In [158]:
def upper_case(fun):
    def new():
        test=fun()
        data=test.upper()
        return data
    return new

In [159]:
def text():
    return "python is the most popular programming language"

In [163]:
text()

'python is the most popular programming language'

In [162]:
result=upper_case(text)
print(result())

PYTHON IS THE MOST POPULAR PROGRAMMING LANGUAGE

In [164]:
@upper_case
def text():
    return "python is the most popular programming language"

text()

'PYTHON IS THE MOST POPULAR PROGRAMMING LANGUAGE'